pipeline/SFTP Test.json
{
	"name": "SFTP Test",
	"properties": {
		"activities": [
			{
				"name": "GPG encrypt and SFTP to ANZ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Retrieve bank data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Retrieve Humm GPG private key passphrase from vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Retrieve Humm GPG private key from vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Retrieve ANZ GPG public key from vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Retrieve GPG function app key from vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": {
								"value": "Content-Type: application/json",
								"type": "Expression"
							},
							"requestBody": {
								"value": "@concat('{ \"PublicEncryptionKeyBase64Encoded\": \"', activity('Retrieve ANZ GPG public key from vault').output.value, '\", \"PrivateSigningKeyBase64Encoded\": \"', activity('Retrieve Humm GPG private key from vault').output.value, '\", \"PrivateSigningKeyPassphrase\": \"', activity('Retrieve Humm GPG private key passphrase from vault').output.value, '\", \"Base64EncodedPayload\": \"', base64(activity('Retrieve bank data').output.value), '\", \"Base64EncodeResponse\": true }')",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "SftpWriteSettings",
							"operationTimeout": "01:00:00",
							"useTempFileRename": false
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Gpg",
						"type": "DatasetReference",
						"parameters": {
							"code": {
								"value": "@activity('Retrieve GPG function app key from vault').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "data1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Retrieve ANZ GPG public key from vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', variables('key_vault_subdomain'), '.vault.azure.net/secrets/anz-gpg-public-key?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Retrieve Humm GPG private key from vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', variables('key_vault_subdomain'), '.vault.azure.net/secrets/humm-gpg-private-key?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Retrieve Humm GPG private key passphrase from vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', variables('key_vault_subdomain'), '.vault.azure.net/secrets/humm-gpg-private-key-passphrase?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Retrieve bank data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://9824-193-115-67-46.ngrok-free.app/"
				}
			},
			{
				"name": "Retrieve GPG function app key from vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', variables('key_vault_subdomain'), '.vault.azure.net/secrets/gpg-function-app-key?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"variables": {
			"key_vault_subdomain": {
				"type": "String",
				"defaultValue": "lab-qx2njos-kv"
			}
		},
		"annotations": []
	}
}